<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" id="main-nav">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <%= img_tag(Routes.static_url(@conn, "/images/forever-logo-white.png"), style: "max-height: 25px") %>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= if @current_user do %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a href="#" class="nav-link active">My Groups</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link active">Group Memberships</a>
          </li>
        </ul>
        <%= if @current_user.role == "admin" do %>
          <ul class="navbar-nav me-2">
            <li class="nav-item">
              <a href="/dashboard" class="nav-link" method="get" target="_blank" rel="noopener noreferrer">Dashboard</a>
            </li>
          </ul>
        <% end %>
        <div class="text-light">
          <%= @current_user.name %>
          <%= if @current_user.avatar_url do %>
          <span><img src={@current_user.avatar_url} style="width: 24px; height: 24px" %></span>
          <% end %>
        </div>
        <%= link "Log out", to: Routes.session_path(@conn, :delete), class: "btn btn-sm btn-outline-secondary ms-2", method: :delete %>
      </div>
    <% else %>
      <%= link("Log In", to: "/login", class: "btn btn-sm btn-outline-secondary ms-2") %>
    <% end %>
  </div>
</nav>
