<div class="col-2 offset-5">
  <h1>Login</h1>

  <.form let={f} for={@conn} action={Routes.session_path(@conn, :create)} as={:user} class="form">
    <%= if @error_message do %>
      <p class="alert alert-danger"><%= @error_message %></p>
    <% end %>

    <div class="form-group">
        <%= label f, :email %>
        <%= email_input f, :email, required: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= label f, :password %>
      <%= password_input f, :password, required: true, class: "form-control" %>
    </div>

    <br>

    <div>
      <%= submit "Log in", class: "btn btn-primary" %>
    </div>
  </.form>
</div>
